.full-page {
  display: flex;
  background-color: white;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.header {
  height: 15%;
  width: 100vw;
  background-color: #2b2c2c;
}

.content {
  height: 85%;
  width: 100vw;
  background-color: #2d2e2e;
  padding: 20px;
}

.text {
  font-size: 32px;
  color: azure;
  margin: 0px;
  padding: 0px;
}

.PI {
  font-size: 12px;
  color: coral;
  margin: 0px;
  padding: 0px;
}

.fonts {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.m-20 {
  height: 20px;
}

.fontBox {
  border-style: solid;
  border-width: 1;
  border-color: azure;
  padding: 10px 40px 10px 40px;
  background-color: #2b2c2c;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 2.5%;
}

.font {
  font-size: 24px;
}

.PIContainer {
  height: 3vh;
  display: flex;
  align-items: center;
}
