.catchPhraseContainer {
  display: flex;
  flex-direction: column;
  padding: 4vh 8vw 4vh 8vw;
  border-radius: 20px;
}

.catchPhrase {
  font-size: 64px;
  margin-right: 100px;
}

.logo {
  width: 20vh;
  height: 20vh;
}

.whiteText {
  color: white;
}

.verticalCenter {
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
}

.right {
  margin-left: auto;
}
